<div class="container-fluid">
        <div class="row">
                <div id="comment" class="col-8">
                        <h5 class="text-info">Let us who you are </h5>
                        <input type="email" placeholder="Email Address*" required autocomplete="off"
                        name="email"/>
            </div>
            </div>
    <div class="row">
        <div id="comment" class="col-8">
        <h5 class="text-info">Let us your comment below</h5>
        <textarea placeholder="Please leave us your comment here"></textarea>
        <button class="btn btn-info">Send</button>
    </div>
    </div>

</div>