.footer{
    text-align: center !important;
    padding-top:10px;
    
}
#logoFooter{
    padding:5px;
    margin: 5px;
    color: white;
}
#compLogo{
    float:left;
    width:30px;
    max-height:30px;
}
#userLogged{
    position: fixed;
    float: right;
} 
/* div{
    min-width: 300px;
} */
