<div class="container-fluid" data-spy="scroll">
  <nav class="sticky-top navbar navbar-expand-sm bg-dark navbar-dark" style="min-height: 100%">
    <span class="navbar-brand">
      <img id="compLogo" src="../assets/img/logo.png" alt="Company logo" [routerLink]="['/home']"
        routerLinkActive="active>MyCVOnline">
      <span [routerLink]="['/home']" routerLinkActive="active>MyCVOnline"> MyCVOnline</span>
    </span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myMenu">
      <ul class="navbar-nav" >
          <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="active" href="#"
                *ngIf="isGuest()">Home</a>
            </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/login']" routerLinkActive="active" href="#"
            *ngIf="isGuest()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/about']" routerLinkActive="active" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/candidateProfile']" routerLinkActive="active" href="#">CandidateProfile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/companyProfile']" routerLinkActive="active" href="#">CompanyProfile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactUs']" routerLinkActive="active" href="#">Contact Us</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isGuest()">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">Settings</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  [routerLink]="['/candidateProfile']" routerLinkActive="active"  href="#">Profile</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="sticky-bottom  bg-dark  bg-primary footer text-light">
    <img src="../assets/img/logo.png" width=30px class="d-inline-block align-top" alt="Company Logo">MyCVOnline
    <p class="h5">Find me on social media.</p>
    <a href="https://www.facebook.com"><i id="logoFooter" class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com"><i id="logoFooter" class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://www.snapchat.com/"><i id="logoFooter" class="fa fa-snapchat w3-hover-opacity"></i></a>
    <a href="https://www.pinterest.ca/"><i id="logoFooter" class="fa fa-pinterest-p w3-hover-opacity"></i></a>
    <a href="https://twitter.com/"><i id="logoFooter" class="fa fa-twitter w3-hover-opacity"></i></a>
  </footer>
</div>