<div class="container-fluid">
    <div class="row text-lg-center text-info">
        <div class="col-lg-5" style="min-height: 90%">
            <div class="form">

                <div>
                    <button class="btn btn-info" [ngClass]="{'active': isSingUpScreenActive()}"
                        (click)="displaySignUp()"> Sign Up</button>
                    <button class="btn btn-info" [ngClass]="{'active': isLogInScreenActive()}"
                        (click)="displayLogIn()">Log In</button>
                </div>

                <ng-container *ngIf="isSingUpScreenActive()">
                    <input id="usertype" type="radio" name="usertype" value="candidate" checked="checked"
                        (click)="setSignUpType(CANDIDATE)">Candidate
                    <input id="usertype" type="radio" name="usertype" value="company"
                        (click)="setSignUpType(COMPANY)">Company

                    <div class="tab-content" *ngIf="isSignUpType(CANDIDATE)">
                        <div id="signup">
                            <h1>Sign Up for Free</h1>
                            <form>

                                <div class="top-row">
                                    <div class="field-wrap">
                                        <input type="text" placeholder="First Name*" required autocomplete="Off"
                                            name="firstName" [(ngModel)]='candidate.firstName' />
                                    </div>
                                    <div class="field-wrap">
                                        <input type="text" placeholder="Last Name*" required autocomplete="off"
                                            name="lastName" [(ngModel)]='candidate.lastName' />
                                    </div>
                                </div>
                                <div class="field-wrap">
                                    <input type="email" placeholder="Email Address*" required autocomplete="off"
                                        name="email" [(ngModel)]='candidate.email' />
                                </div>
                                <div class="field-wrap">
                                    <input type="password" placeholder="Set A Password*" required autocomplete="off"
                                        name="psw" [(ngModel)]='candidate.psw' />
                                </div>
                                <button type="submit" class="btn btn-info" (click)="handleSignUpUser(candidate)">Get
                                    Started</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-content" *ngIf=" isSignUpType(COMPANY)">
                        <div id="signup">
                            <h1>Sign Up for Free</h1>
                            <form>
                                <div class="top-row">
                                    <div class="field-wrap">
                                        <input type="text" placeholder="Company Name*" required autocomplete="off"
                                            name="Company Name" [(ngModel)]='company.companyName' />
                                    </div>
                                </div>
                                <div class="field-wrap">
                                    <input type="email" placeholder="Email Address*" required autocomplete="off"
                                        name="email" [(ngModel)]='company.email' />
                                </div>
                                <div class="field-wrap">
                                    <input type="password" placeholder="Set A Password*" required autocomplete="off"
                                        name="psw" [(ngModel)]='company.psw' />
                                </div>
                                <button type="submit" class="btn btn-info" (click)="handleSignUpUser(company)">Get
                                    Started</button>
                            </form>
                        </div>
                    </div>
                </ng-container>



                <div class="tab-content" *ngIf="isLogInScreenActive()">
                    <div id="login">
                        <h1>Welcome Back!</h1>
                        <form>
                            <div class="field-wrap">
                                <input type="email" placeholder="Email Address*" required autocomplete="off"
                                    name="email" [(ngModel)]='user.email' />
                            </div>
                            <div class="field-wrap">
                                <input type="password" placeholder="Password*" required autocomplete="off" name="psw"
                                    [(ngModel)]='user.psw' />
                            </div>
                            <p class="forgot" (click)="displayForgot()"><a>Forgot Password?</a></p>
                            <button class="btn btn-info" (click)="handleLogin()">Ready</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="form" *ngIf="isForgotScreenActive()">
                <div class="form">
                    <div class="tab-content">
                        <h1>Forgot Password</h1>
                        <h1 style="font-size:medium"> Enter your email address to reset the password! </h1>
                    </div>
                    <div>
                        <form>
                            <input name="email" class="field-wrap" type="text" value="Your e-mail address"
                                onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = 'Your e-mail address';}"
                                [(ngModel)]='candidate.email'>
                            <button class="button button-block text-light bg-info"
                                (click)="handleForgotPassword()">Reset my
                                Password</button>
                            <!-- <input class="button button-block" type="submit" value="Reset my Password"> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <img id="Img2" src="../assets/img/Img2.jpg" alt="Login Image">
        </div>
    </div>

</div>