<div id="myItem" class="card">
    <div class="card-header bg-info text-light">
        <div class="col-xs-8">
        <img id="JobCompanyLogo" class="card-img-left" src={{job.companyLogo}}>
        <h3 id="jobTitletext"><span>{{job.title}}</span></h3>
    </div>
        <div class="col-xs-4"  *ngIf="displayEditDeleteButton">
            <button id="editJobbutton" class="bg-info text-light" data-toggle="modal" data-target="#modalEditJob">
                <i class="far fa-edit"></i>
            </button>
            <button id="deleteJobbutton" class="bg-info text-light">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="row">
                <div class="modal fade" id="modalEditJob">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title text-dark">{{job.title}}</h3>
                                <button data-dismiss="modal" class="close">&times;</button>
                            </div>
                            <div class="modal-body text-info">
                                <div class="col form-group">
                                    <label for="jobTitle" >Job Title</label>
                                    <input name="jobTitle" id="jobTitle" class="form-control"
                                        [(ngModel)]="job.title">
                                </div>
                                <div class="col form-group">
                                    <label for="jobDescription"> Job Description</label>
                                    <textarea name="jobDescription" id="jobDescription"
                                        class="form-control" [(ngModel)]="job.description"> {{job.description}}</textarea>
                                </div>
                                <div class="col form-group">
                                    <label for="jobDate">Job Date</label>
                                    <input name="jobDate" id="jobDate" class="form-control" [(ngModel)]="job.date">
                                </div>
                                <div class="col form-group">
                                    <div>
                                        <label for="JobType">Job Type</label>
                                    </div>
                                    <div class="btn-group">
                                        <input id="inputJobtype" type="radio" name="jobtype" value="Full-Time">Full-Time
                                        <input id="inputJobtype" type="radio" name="jobtype" value="Part-Time">Part-Time
                                        <input id="inputJobtype" type="radio" name="jobtype" value="Contract">Contract
                                        <input id="inputJobtype" type="radio" name="jobtype" value="Temporary">Temporary
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="SaveCancelbutton" class="btn btn-success" data-toggle="modal"
                                    data-target="#modalEditJob">Cancel</button>
                                <button id="SaveCancelbutton"  class="btn btn-success" data-toggle="modal"
                                    data-target="#modalEditJob">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="card-body text-info">
        <h3 class="card-title">{{job.title}}</h3>
        <p class="card-text"> {{job.id}}</p>
        <p class="card-text"> Job type: {{job.type}}</p>
        <p class="card-text"> {{job.description}}</p>
    </div>
    <div class="card-footer bg-info text-light">
        <p class="card-text">{{job.date}} <button class="bg-info text-light"  *ngIf="!displayEditDeleteButton" ><i class="fas fa-share-square"></i>
                Apply</button>
    </div>
</div>