#JobCompanyLogo{   
    margin: 0px;
    float:left;
    width:30px;
    max-height:30px;
}
#myItem{
    width: 100%;
    margin: 1px;
}
.card{
    margin: 1px;
    width: 100%;
}
button{        
    border: none;       
    padding: 1% 1%;
    text-align: right;
    text-decoration: none;
    float:right;
    margin: 1%;
    cursor: pointer;
    border-radius: 15px; 
    width: 25%;   
    align-content: right;     
  }