#JobCompanyLogo{   
    margin: 5px;
    float:left;
    width:30px;
    max-height:30px;
}
button{        
    border: none;      
    text-align: right;
    text-decoration: none;    
    float:right;
    margin: 0%;
    cursor: pointer;
    border-radius: 15px; 
    width: 10%;   
    align-content: right;     
  }
  #jobTitletext{
    width: 60%;
    float: left;
}