#textComments{
    margin: 2%;
    padding: 2%;
}
#inputHome{
    width: 60%;         
    padding: 1% 1%;
    align-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1% 1%;
    cursor: pointer;
    border-radius: 15px; 
}
#searchHomebutton{        
        border: none;       
        padding: 1% 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1% 1%;
        cursor: pointer;
        border-radius: 15px; 
        width: 20%;   
        align-content: center;  
}

#Img1{
    
    padding: 1% 1%;
    max-width: 50%;
    max-height: 50%;
    margin: 1% 1%; 
  
}