<div class="container-fluid">
    <div class="row">
        <div id="rigthSide" class="col-lg-3">
            <div class="card">
                <img src="./assets/img/avatar.png" class=" card-img-top img-responsive">

                <div class="card-body">
                    <ul id="home" class="list-group list-group-flush">
                        <li class="list-group-item">

                            <h5 class="card-text text-info"><i class="fas fa-id-card"></i> first name</h5>

                            <h5 class="card-text text-info"><i class="fas fa-id-card"></i> last name</h5>

                            <h5 class="card-text text-info"><i class="fas fa-envelope"></i> email</h5>

                        </li>
                        <li class="list-group-item">
                            <app-cv-list (onCVItemClick)='recievedOnCVItemClick($event)' [listCV]="listCV">
                            </app-cv-list>
                        </li>                     
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-9">
            <app-cv-view  [cv]='CVItemToView'></app-cv-view>
        </div>
    </div>
</div>
