<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <img src="./assets/img/avatar.png" class=" card-img-top img-responsive">

                <div class="card-body">
                    <ul id="home" class="list-group list-group-flush">
                        <li class="list-group-item">

                            <p class="card-text"><i></i>first name</p>

                            <p class="card-text"><i></i>last name</p>

                            <p class="card-text"><i class="fas fa-envelope"></i> email</p>

                        </li>
                        <li class="list-group-item">
                            <app-cv-list (onCVItemClick)='recievedOnCVItemClick($event)' [listCV]="listCV">
                            </app-cv-list>
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-text"><i class="fas fa-globe"></i> Languages</h5>

                            <p>Spanish</p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100%"></div>
                            </div>

                            <p>English</p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 90%"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100%"></div>
                            </div>

                            <p>French</p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 70%"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100%"></div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-9">
            <app-cv-view [cv]='CVItemToView'></app-cv-view>
        </div>
    </div>
</div>