<div class="container-fluid text-center">
    <div class="row text-info">
        <div id="aboutUsText" class="col-lg-12 ">
            <img id="compLogo" src="../assets/img/logo.png" alt="Company logo">
            <h1><b>About MyCVOnline</b></h1>
            <p>Welcome to MyCVOnline, My own professional network with more than 10 users in more than 2 countries and
                territories worldwide.</p>
        </div>
        <div id="aboutUsText" class="col-lg-12">
            <h1><b>Vision</b></h1>
            <p>Create economic opportunity for every member of the global workforce.</p>
        </div>
        <div id="aboutUsText" class="col-lg-12">
            <h1><b>Mission</b></h1>
            <p>The mission of MyCVOnline is simple: connect the world’s professionals to make them more productive and
                successful.</p>
            <p> But really get the best grade possible on my final project.</p>
        </div>
        <div id="aboutUsText" class="col-lg-12">
            <h1><b>We are</b></h1>
            <p>MyCVOnline began in co-founder Yulien Cabrera"s Dinning room in feb, 2019 and was officially launched on
                December, 2019.</p>
            <p> Yulien Cabrera is the CEO of the company, and management includes experienced in technologies such as
                Angular, PHP, HTML, CSS, Bootstraps, DataBase handling and Copy-Paste.</p>
            <p>MyCVOnline represents any business with revenues from membership subscriptions, advertising sales and
                recruitment solutions. In December 2019, Montreal College of Information and Technologies completed its
                evaluation of MyCVOnline, giving to the developper
                one of college’s best grade in history base on the performance and the quality of the website.</p>
        </div>

    </div>

</div>