#inputJobtype{
    width: 30%;         
    padding: 5px 5px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 15px; 
    border-style: solid;
}  
#inputExpAndDate{
    width: 25%;         
    padding: 5px 5px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 15px; 
    border-style: solid;
}
#inputSearch{
    width:100%  !important;         
    padding: 5px 5px  !important;
    align-content: center  !important;
    text-align: center  !important;
    text-decoration: none  !important;
    display: inline-block  !important;
    margin: 2px 2px  !important;
    cursor: pointer  !important;
    border-radius: 15px  !important; 
    
}
#JobCompanyLogo{   
    margin: 5px;
    float:left;
    width:30px;
    max-height:30px;
}
 