<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <h5 class=" card-header card-text text-info">
                    <img id="compLogo" src="./assets/img/logo.png" class="card-img-top img-responsive"> Company Name
                </h5>
                <div class="card-body">
                    <ul id="home" class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-text text-info"><i class="fas fa-envelope"></i> Email</h6>
                            <h6 class="card-text text-info"><i class="fas fa-id-card"></i> Address</h6>
                            <h6 class="card-text text-info"><i class="fas fa-id-card"></i> Telephone</h6>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 id="aboutUsText"><span class="card-text text-info" data-toggle="collapse" href="#collapse1"><i
                                class="far fa-question-circle"></i> About us</span> </h5>
                    <button id="AboutUsButton" class="bg-info text-light" (click)="onEditClick()" *ngIf="!editMode">
                        <i class="far fa-edit"></i>
                        Edit</button>
                    <button id="AboutUsButton" class="bg-info text-light" (click)="onSaveClick()" *ngIf="editMode"><i
                            class="far fa-save"></i>
                        Save</button>
                </div>
                <div id="collapse1" class="card-body">
                    <textarea *ngIf="editMode" class="card-text">about the company</textarea>
                    <p *ngIf="!editMode" class="card-text">about the company</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <input id="inputSearch" placeholder="Candidate search">
                    <button id="searchCandidatebutton" class="btn btn-info btn-text-light"> search</button>
                    <app-active-cv-list></app-active-cv-list>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header ">
                    <h5><span class="card-text text-info" data-toggle="collapse" href="#collapse2"><i
                                class="fas fa-list"></i> Posted Jobs</span></h5>
                    <button id="createJobbutton" class="bg-info text-light" data-toggle="modal"
                        data-target="#modalAddJob">
                        <i class="far fa-edit"></i>
                        Create</button>                       
                </div>
                <div class="row">
                    <div class="modal fade" id="modalAddJob">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-dark">{{newJobTitle}}</h3>
                                    <button data-dismiss="modal" class="close">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="col form-group">
                                        <label for="jobTitle"> Job Title</label>
                                        <input name="jobTitle" id="jobTitle" class="form-control"
                                            [(ngModel)]="newJobTitle">
                                    </div>
                                    <div class="col form-group">
                                        <label for="jobDescription"> Description</label>
                                        <textarea name="jobDescription" id="jobDescription"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="col form-group">
                                        <label for="jobDate"> Date</label>
                                        <input name="jobDate" id="jobDate" class="form-control">
                                    </div>
                                    <div class="col form-group">
                                        <div>
                                            <label for="JobType"> Job Type</label>
                                        </div>
                                        <div class="btn-group">
                                            <input id="inputJobtype" type="radio" name="jobtype" value="full">Full-Time
                                            <input id="inputJobtype" type="radio" name="jobtype" value="part">Part-Time
                                            <input id="inputJobtype" type="radio" name="jobtype"
                                                value="contract">Contract
                                            <input id="inputJobtype" type="radio" name="jobtype"
                                                value="temporary">Temporary
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success" data-toggle="modal"
                                        data-target="#modalAddJob">Cancel</button>
                                    <button class="btn btn-success" data-toggle="modal"
                                        data-target="#modalAddJob">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text"> here goes the list of jobs of this company</p>
                    <app-job-offers></app-job-offers>
                </div>
            </div>
        </div>
    </div>
</div>