<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <h5 class=" card-header card-text text-info">
                    <img id="compLogo" src="./assets/img/logo.png"
                        class="card-img-top img-responsive">{{user.companyName}}
                </h5>
                <div class="card-body">
                    <ul id="home" class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-text text-info"><i class="fas fa-envelope"></i> {{user.userEmail}}</h6>
                            <h6 class="card-text text-info"><i class="fas fa-id-card"></i> {{user.address}}</h6>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <input id="inputSearch" placeholder="Candidate search" [(ngModel)]="cvTitleForSearch">
                    <button id="searchCandidatebutton" class="btn btn-info btn-text-light"
                        (click)="onSearchCVByTitle(cvTitleForSearch)"> search</button>
                    <app-cv-list (selected)='setSelectedCVViewModel($event)' [selectedCV]="selectedCV"
                        [listCV]="listCVs"></app-cv-list>
                </div>
            </div>
            <div id="rightSide" class="card">
                <h5 class=" card-header card-text text-info">
                    Created Jobs
                </h5>
                <div  class="card-body">
                    <app-job-list (selected)='setSelectedJobViewModel($event)' [selectedJob]="selectedJob"
                        [jobs]="listJob" [displayEditDeleteButton]="user.type=='Company'">
                    </app-job-list>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header ">
                    <h5><span class="card-text text-info" data-toggle="collapse" href="#collapse2"><i
                                class="fas fa-list"></i> Posted Jobs</span></h5>
                    <button id="createJobbutton" class="bg-info text-light" data-toggle="modal"
                        (click)="onShowAddEditJobModal(createNewJob())">
                        <i class="far fa-edit"></i>
                        Create</button>
                </div>
                <div class="card-body" *ngIf="listJob.length>0">
                    <app-job-view [job]='selectedJob' (edit)="onShowAddEditJobModal(selectedJob)"
                        (delete)="onShowDeleteJobModal(selectedJob)" [displayEditDeleteButton]="user.type=='Company'">
                    </app-job-view>
                </div>
            </div>
        </div>
    </div>
</div>